@import "./reset.css";
:root {
  font-family: sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

section > h2 {
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.cardWrapper {
  border: 3px solid black;
  border-radius: 5px;
  margin: 20px;
}

.cardContainer {
  width: 320px;
  padding-bottom: 10px;
}

.cardImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  background-color: black;
  position: relative;
  width: inherit;
  height: 320px;
}

.cardImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center;
}

.initials {
  font-size: 2rem;
  align-self: center;
  color: #fff;
}

.contentWrapper {
  padding: 0 10px 10px;
  text-align: center;
}

.cardName {
  font-weight: bold;
  margin: 10px 0;
}

.cardName:empty::after {
  content: "undefined";
}

.socialWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIconContainer {
  border: 1px solid #e8ecee;
  color: #c6cacc;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  transition: 0.3s;
}

.socialIconContainer a {
  color: inherit;
}

.socialIconContainer:hover {
  background-color: #e84545;
  border-color: #e84545;
  color: #fff;
}
